/* @media (max-width: 767px){
    .container{
        padding: 10px;
    }

    .flex-container{
        flex-direction: column;
    }

    .box{
        margin-bottom: 10px;
    }

    ComponentCard{
        width: 100%;
    }
} */